In [1]:
import pandas as pd

In [2]:
#read in the data from the csv file and create a dataframe called billet with the columns:m it is semi colon separated and the first row is the header
billet = pd.read_csv('billets.csv', sep=';', header=0)
copy = billet.copy()

In [3]:
billet

,is_genuine,diagonal,height_left,height_right,margin_low,margin_up,length
0,True,171.81,104.86,104.95,4.52,2.89,112.83
1,True,171.46,103.36,103.66,3.77,2.99,113.09
2,True,172.69,104.48,103.50,4.40,2.94,113.16
3,True,171.36,103.91,103.94,3.62,3.01,113.51
4,True,171.73,104.28,103.46,4.04,3.48,112.54
...,...,...,...,...,...,...,...
1495,False,171.75,104.38,104.17,4.42,3.09,111.28
1496,False,172.19,104.63,104.44,5.27,3.37,110.97
1497,False,171.80,104.01,104.12,5.51,3.36,111.95
1498,False,172.06,104.28,104.06,5.17,3.46,112.25
1499,False,171.47,104.15,103.82,4.63,3.37,112.07

In [4]:
billet.shape

(1500, 7)

In [5]:
billet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   is_genuine    1500 non-null   bool
 1   diagonal      1500 non-null   float64
 2   height_left   1500 non-null   float64
 3   height_right  1500 non-null   float64
 4   margin_low    1463 non-null   float64
 5   margin_up     1500 non-null   float64
 6   length        1500 non-null   float64
dtypes: bool(1), float64(6)
memory usage: 71.9 KB

In [6]:
billet.describe()

,diagonal,height_left,height_right,margin_low,margin_up,length
count,1500.000000,1500.000000,1500.000000,1463.000000,1500.000000,1500.00000
mean,171.958440,104.029533,103.920307,4.485967,3.151473,112.67850
std,0.305195,0.299462,0.325627,0.663813,0.231813,0.87273
min,171.040000,103.140000,102.820000,2.980000,2.270000,109.49000
25%,171.750000,103.820000,103.710000,4.015000,2.990000,112.03000
50%,171.960000,104.040000,103.920000,4.310000,3.140000,112.96000
75%,172.170000,104.230000,104.150000,4.870000,3.310000,113.34000
max,173.010000,104.880000,104.950000,6.900000,3.910000,114.44000

In [8]:
# verify the uniqueness of
billet['is_genuine'].unique()

array([ True, False])

In [15]:
#function to get and print fake billet and real billet and print the shape, countm and describe
def get_fake_fake_billet(df):
    fake_billet=df.loc[df['is_genuine'].isin([False]),:]
    print(fake_billet.shape)
    print(fake_billet.count())
    print(fake_billet.describe())
    return fake_billet

In [16]:
#use the function to get the fake billet and print the shape, countm and describe
fake_billet=get_fake_fake_billet(billet)

(500, 7)
is_genuine      500
diagonal        500
height_left     500
height_right    500
margin_low      492
margin_up       500
length          500
dtype: int64
         diagonal  height_left  height_right  margin_low   margin_up  \
count  500.000000   500.000000    500.000000  492.000000  500.000000
mean   171.901160   104.190340    104.143620    5.215935    3.350160
std      0.306861     0.223758      0.270878    0.553531    0.180498
min    171.040000   103.510000    103.430000    3.820000    2.920000
25%    171.690000   104.040000    103.950000    4.840000    3.220000
50%    171.910000   104.180000    104.160000    5.190000    3.350000
75%    172.092500   104.332500    104.320000    5.592500    3.472500
max    173.010000   104.880000    104.950000    6.900000    3.910000

           length
count  500.000000
mean   111.630640
std      0.615543
min    109.490000
25%    111.200000
50%    111.630000
75%    112.030000
max    113.850000

In [18]:
#function to get and print real billet and print the shape, countm and describe
def get_real_billet(df):
    real_billet=df.loc[df['is_genuine'].isin([True]),:]
    print(real_billet.shape)
    print(real_billet.count())
    print(real_billet.describe())
    return real_billet

In [19]:
#use the function to get the real billet and print the shape, countm and describe
real_billet=get_real_billet(billet)

(1000, 7)
is_genuine      1000
diagonal        1000
height_left     1000
height_right    1000
margin_low       971
margin_up       1000
length          1000
dtype: int64
          diagonal  height_left  height_right  margin_low   margin_up  \
count  1000.000000  1000.000000    1000.00000  971.000000  1000.00000
mean    171.987080   103.949130     103.80865    4.116097     3.05213
std       0.300441     0.300231       0.29157    0.319124     0.18634
min     171.040000   103.140000     102.82000    2.980000     2.27000
25%     171.790000   103.740000     103.61000    3.905000     2.93000
50%     171.990000   103.950000     103.81000    4.110000     3.05000
75%     172.200000   104.140000     104.00000    4.340000     3.18000
max     172.920000   104.860000     104.95000    5.040000     3.74000

            length
count  1000.000000
mean    113.202430
std       0.359552
min     111.760000
25%     112.950000
50%     113.205000
75%     113.460000
max     114.440000

In [20]:
# Identify the lines with missing values
print(billet.index[billet.isnull().any(axis=1)])
print(billet.isnull().sum())

Int64Index([  72,   99,  151,  197,  241,  251,  284,  334,  410,  413,  445,
             481,  505,  611,  654,  675,  710,  739,  742,  780,  798,  844,
             845,  871,  895,  919,  945,  946,  981, 1076, 1121, 1176, 1303,
            1315, 1347, 1435, 1438],
           dtype='int64')
is_genuine       0
diagonal         0
height_left      0
height_right     0
margin_low      37
margin_up        0
length           0
dtype: int64